{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card text-center container border-primary" style="max-width: 540px; margin-top:20;" >
  <h5 class="card-header"></h5>
  <!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit"style="margin-top:20; " >Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
</div>
</div>
{% endblock content %}